<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>UserRegistrations</title>
  <div th:replace="~{commons/plugin::headplugins}"></div>
</head>
<body>
<div class="wrapper">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" th:src="@{dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <div th:replace="~{commons/top-sidebar::navbarlight}"></div>
  <div th:replace="~{commons/top-sidebar::sidebarlight}"></div>
  <div class="content-wrapper">
    <div>UserRegistrations</div>
  </div>
</div>
</body>
</html>
