<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Haven.mapper.UserAuthMapper">
    <insert id="insertUser" parameterType="com.Haven.entity.UserAuth">
        insert into STAGE.userAuth(id, username, password)
        values (#{id}, #{username}, #{password}, #{prems});
    </insert>
    <delete id="deleteUserById" parameterType="Integer">
        delete
        from userAuth
        where id=#{userid};
    </delete>
    <update id="updateUser" parameterType="com.Haven.entity.UserAuth">
        update userAuth set
        username = #{username},
        password = #{password}
        where id = #{id};
    </update>
    <select id="selectUserByName" parameterType="String" resultType="com.Haven.entity.UserAuth">
        select *
        from userAuth
        where username = #{username};
    </select>
    <select id="selectUserById" parameterType="Integer" resultType="com.Haven.entity.UserAuth">
        select *
        from userAuth
        where id = #{userid};
    </select>
    <select id="selectUserAll" resultType="com.Haven.entity.UserAuth">
        select *
        from userAuth;
    </select>
</mapper>